<h1>Ejemplos-pipes works!</h1>
<hr/>
<div class="row">
<div class="table">
<thead class="thead-dark">
<tr>
    <th>Variable</th>
    <th>Pipe</th>
    <th>Resultados</th>
</tr>
</thead>
<tbody>
    <tr>
        <td>{{nombre}}</td>
        <td>Mayuscula</td>
        <td>{{nombre|uppercase}}</td>
    </tr>
    <tr>
        <td>{{nombre}}</td>
        <td>Minuscula</td>
        <td>{{nombre|lowercase}}</td>
    </tr>
    <tr>
        <td>{{nombre}}</td>
        <td>Slice</td>
        <td>{{nombre|slice:2}}</td>
    </tr>
    <tr>
        <td>{{PI}}</td>
        <td>Numero</td>
        <td>{{PI|number:'2.1'}}</td>
    </tr>
    <tr>
        <td>{{porcentaje}}</td>
        <td>Porcentaje</td>
        <td>{{porcentaje|percent}}</td>
    </tr>
    <tr>
        <td>{{salario}}</td>
        <td>Moneda</td>
        <td>{{salario|currency:'EUR'}}</td>
    </tr>
    <tr>
        <td>{{fecha}}</td>
        <td>FechaLarga</td>
        <td>{{fecha|date:'medium'}}</td>
    </tr>
    <tr>
        <td>{{fecha}}</td>
        <td>FechaCorta</td>
        <td>{{fecha|date:'short'}}</td>
    </tr>
    <tr>
        <td>{{nombre}}</td>
        <td>Pipes Personalizado</td>
        <td>{{nombre|mayusculas}}</td>
    </tr> 
    <tr>
        <td>{{nombre}}</td>
        <td>Pipes Contar Letras</td>
        <td>{{nombre|numcaracter}}</td>
    </tr> 
    <tr>
        <td>{{nombre}}</td>
        <td>Pipes Puntos suspensivos Letras</td>
        <td>{{nombre|limitString:5}}</td>
    </tr> 
    <tr>
        <td>{{nombre}}</td>
        <td>Pipes Capitalizar</td>
        <td>{{nombre|capitalizar}}</td>
    </tr> 
    <tr>
        <td>{{nombre}}</td>
        <td>Pipes Capitalizar_2.0 CleanCode</td>
        <td>{{nombre|capitalize}}</td>
    </tr> 
    <tr>
        <td>{{valorPromesa}}</td>
        <td>Async</td>
        <td>{{valorPromesa|async}}</td>
    </tr> 
    <tr>
        <td>{{heroe}}</td>
        <td>Json</td>
        <pre><td>{{heroe|json}}</td></pre>
    </tr> 
    <tr>
        <td>Promesa {{ valorPromesa }}</td>        
        <td><button class="btn btn-danger" (click)="darClick()">Click</button></td>
        <td>{{valorPromesa|async }}</td>
    </tr>
    <tr>
        <td>Actividad Contraseña :{{isShow}}</td>      
        <td><button  (click)="isShow=!isShow" class="btn btn-primary">Activar/Desactivar</button></td>       
        <td><input type="text" value="{{nombre|visiblepassword:isShow}}"> </td>          
    </tr>
</tbody>
</div>
</div>    
